<!DOCTYPE html>
<html>
    <head>
        <title>Schmuckwerkstatt Böhme | <%= data.page.menu_order != 1 ? data.page.menu_title : "Goldschmiede und Trauringkurse. Kreativ Schmuck selbst gestalten." %></title>

        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="description" content="In der Schmuckwerkstatt Böhme bieten wir Goldschmiede- und Trauringkurse an, in welchen Sie ihr eigenes Schmuckstück in kleinen Gruppen (bis 4) anfertigen.">
        <meta name="keywords" content="Goldschmiedekurse, Trauringkurse, Schmuck selbst gestalten, Handwerk, Gold, Silber, Schmieden">
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">

        <link rel="icon" href="/favicon.png">

        <%= stylesheet_link_tag "vendor/normalize", "site" %>
    </head>

    <body class="<%= page_classes %>">
        <div class="page">
            <header>
                <a id="toggle-nav">²</a>

                <a id="logo" href="/">
                    <div id="signet">
                        <span>Schmuckwerkstatt</span>
                        <strong>Katharina Böhme</strong>
                    </div>
                    <span class="claim">kreatives Gestalten in Metall</span>
                </a>

                <nav id="main-navigation">
                    <%= partial "partials/navigation" %>
                </nav>

                <figure id="header-slideshow" class="flexslider">
                    <ul class="slides">
                        <li><%= tag :img, :src => "images/slideshow/schmuckwerkstatt_slideshow-1.jpg", :alt => "Schmuckwerkstatt" %></li>
                        <li><%= tag :img, :src => "images/slideshow/schmuckwerkstatt_slideshow-2.jpg", :alt => "Schmuckwerkstatt" %></li>
                        <li><%= tag :img, :src => "images/slideshow/schmuckwerkstatt_slideshow-3.jpg", :alt => "Schmuckwerkstatt" %></li>
                        <li><%= tag :img, :src => "images/slideshow/schmuckwerkstatt_slideshow-4.jpg", :alt => "Schmuckwerkstatt" %></li>
                        <li><%= tag :img, :src => "images/slideshow/schmuckwerkstatt_slideshow-5.jpg", :alt => "Schmuckwerkstatt" %></li>
                        <li><%= tag :img, :src => "images/slideshow/schmuckwerkstatt_slideshow-6.jpg", :alt => "Schmuckwerkstatt" %></li>
                        <li><%= tag :img, :src => "images/slideshow/schmuckwerkstatt_slideshow-7.jpg", :alt => "Schmuckwerkstatt" %></li>
                        <li><%= tag :img, :src => "images/slideshow/schmuckwerkstatt_slideshow-8.jpg", :alt => "Schmuckwerkstatt" %></li>
                        <li><%= tag :img, :src => "images/slideshow/schmuckwerkstatt_slideshow-9.jpg", :alt => "Schmuckwerkstatt" %></li>
                    </ul>
                </figure>
            </header>

            <div class="main" role="main">
                <%= yield %>
            </div>
        </div><!-- end page -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
        <%= javascript_include_tag  "vendor/jquery.flexslider", "site" %>

        <script>
            // init main slider
            $('.flexslider').flexslider({
                slideshowSpeed: 4000,
                randomize: true,
                directionNav: false
            });

            var _gaq=[['_setAccount','UA-8876179-4'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>